<%= javascript_pack_tag 'homeButton' %>



<div id="hidden-form">
    <%= form_with(url: search_path, method: "get", local: true) do %>
    <%= hidden_field_tag(:lat) %>

    <%= hidden_field_tag(:long) %>

    <%= submit_tag("Search") %>
    <% end %>
</div>

