
<%= form_with(url: search_path, method: "get", local: true, id: "hidden-form") do %>
    <%= hidden_field_tag(:lat) %>

    <%= hidden_field_tag(:long) %>

    <%= submit_tag("Submit?", id: "hidden-submit") %>
    <% end %>


    <div class="container">
        <button id="weather-btn">How's the weather here?</button>

    </div>


    <%= javascript_pack_tag 'homeButton' %>