
<%= form_with(url: search_path, method: "get", local: true, id: "hidden-form") do %>
    <%= hidden_field_tag(:lat) %>

    <%= hidden_field_tag(:long) %>

    <%= submit_tag("Submit?", id: "hidden-submit") %>
    <% end %>


    <div class="home-container">
        <div class="top">
            <h2>Find out the weather in your city</h2>
        </div>
        <div class="bottom">
            <div class="left">

                <p>Keep track of the weather with just one click!</p>
                <button id="weather-btn">Current Weather</button>
            </div>
            <div class="right">
                <%= image_tag("icons/clima.svg", class: 'home-svg') %>
            </div>
        </div>
    </div>


    <%= javascript_pack_tag 'homeButton' %>